@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Core.Models.Blocks
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    var blockListItems = Model.Value<IEnumerable<BlockListItem>>("chooseUsBlockList").Select(x => x.Content);
}

        <section class="choose-section">
            <div>
                <p class="red-title"> Why Choose Us</p>
                <h3>@Model.Value("chooseUsTitle")</h3>
                <div class="choose-containerbox">

                @foreach (var item in blockListItems) 
                {
                    <div>
                        @item.Value("chooseUsItemIconSVG")                        
                        <div>
                            <h5>@item.Value("chooseUsItemHeading")</h5>
                            <p>@item.Value("chooseUsItemDescription")</p>
                        </div>
                    </div>
                }
                </div>
            </div>
            <div class="choose-img-container">
                <div class="empty-div"></div>
                @{
                    var chooseUsImage = Model.Value<MediaWithCrops>("chooseUsImage");
                    
                    if (chooseUsImage != null)
                    {
                        <img src="@chooseUsImage.MediaUrl()" alt="@Model.Value("chooseUsImageAltText")"/>
                    }
                }
            </div>
        </section>
