@using Umbraco.Cms.Core.Models.Blocks
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    var blockListItems = Model.Value<IEnumerable<BlockListItem>>("ourServicesBlockList").Select(x => x.Content);
}
        <section class="services-section">
            <div>
                <p class="red-title">Our Services</p>
                <h3>@Model.Value("ourServicesHeading")</h3>
                <div>
                    <div class="services-container">
                        
                    @foreach (var item in blockListItems) 
                    {
                        <div>
                            <a target="_blank" class="arrow-link" href="@item.Value("ourServicesItemUrl")">
                                <p class="bold pb-0 pt-0 mt-0 fs-5">_____</p>
                                <h5>@item.Value("ourServicesItemHeading")</h5>
                                <p>@item.Value("ourServicesItemDescription")</p>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                                    </svg>
                            </a>
                        </div>
                    }

                    </div>
                    <div class="btn-div">
                        <a class="browse-service-btn" href="@Model.Value("ourServicesBrowseButtonUrl")" target="_blank" src="" title="browse services" type="button">
                        @Model.Value("ourServicesBrowseButtonText") 
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
                            </svg>    
                        </a>
                    </div>
                </div>
                <img src="~/images/effects/background-lines-right.svg" alt="white background lines"/>
            </div>
        </section>
