@using Umbraco.Cms.Core.Models
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

        <section class="showcase-container">
            <div>
                <div>
                    <h3 class="showcase-title">@Model.Value("showcaseTitle")</h3>
                    <p>@Model.Value("showcaseDescription")</p>
                </div>
                <div>
                    <a class="first-show-btn" href="@Model.Value("showcaseButtonUrl")" target="_blank">@Model.Value("showcaseButtonText")
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z" />
                        </svg>
                    </a>
                    <a class="show-btn" href="/services" target="_blank" >Learn More
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z" />
                        </svg>
                    </a>
                </div>
                <img class="white-lines-img" src="~/images/effects/background-lines.svg" alt="white background lines"/>
            </div>
            <div class="showcase-img">
                @{
                    var showcaseImage = Model.Value<MediaWithCrops>("showcaseImage");
                    
                    if (showcaseImage != null)
                    {
                        <img src="@showcaseImage.MediaUrl()" alt="@Model.Value("showcaseImageAltText")"/>
                    }
                }
            </div>
        </section>
